* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**/
header {
    width: 100%;
    height: 60px;
}

header img {
    width: 18%;
    height: 80%;
    margin: 24px;
    margin-left: 5%;
}

/**/

nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    margin-top: 20px;
    border: 1px solid;
}


nav ul {
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    margin-left: 5%;
}

nav ul li {
    list-style-type: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a:hover {
    color: blue;
}


form{
    line-height: 60px;
    margin-right: 5%;
    position: relative;
    transition: all 0.5;
}

form:hover {
    transform: scaleX(1.5);
}

input {
    width: 200px;
    height: 30px;
}

button {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 17px;
    right: 1px;
    border: none;
}

button img {
    width: 100%;
    height: 100%;
}


/**/

.banner {
    width: 100%;
    height: 450px;
}

.banner img {
    width: 100%;
    height: 100%;
}

/***/

main {
    margin: 40px 0;
    border: 1px solid;
}

h1 {
    text-align: center;
    margin: 14px;
}

.box {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
}

.box1 {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    width: 30%;
}

.image {
    width: 100%;
    height: 80%;
}

.image img {
    width: 100%;
    height: 100%;
}

h4 {
    margin-top: 50px;
    font-size: 23px;
    font-weight: 400;
}

h5{
    font-size: 23px;
    font-weight: 400;
}

footer {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #ccc;
}


.text {
    display: none;
    transition: 0.5s;
}


.title:hover + .text {
    display: block;
    transform: translateY(-100px);
    height: 80px;
}

.title:hover {
    opacity: 0;
}

.span {
    margin: 16px 0;
}

span {
    font-size: 24px;
}

.btn {
    width: 375px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: green;
    color: #fff;
}



